/* CONVENCIÓN PARA LOS ESTILOS
1. Posicionamiento - Position fix, 
2. Modelo de caja (Box model)
3. Tipografía
4. Tema visual
5. Miscelanios u otros.
*/
:root {
 /*Colores*/
  --bitcoin-orange: #F7931A; /* Naranja */ 
  --soft-orange: #FFE9D5; /* Naranja claro */
  --secondary-blue: #1a9af7; /* Azul secundario */
  --soft-blue: #E7F5FF; /* Azul claro */
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #BABABA;
  --off-white: #FAF8F7;
  --white: #FFFFFF;
}
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}
header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);
}
header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}
.header-tittle-container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  /*height: 218px;*/
  margin-top: 40px;
  text-align: center;
  align-self: center;
}
.header-tittle-container h1 {
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--white)
}
.header-tittle-container p {
  margin-top: 24px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange)
}
 .header-button {
  position: absolute; /*Relative me permite top, bottom, left and right*/
  left: calc(50% - 118px); /* 229px / 2 */
  top: 270px;
  display: block;
  margin-top: 35px;
  padding: 16px;
  width: 240px;
  height: 56px;
  background-color: var(--off-white);
  /*Sombras*/
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}
.header-button span {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-image: url('../assets/icons/icon_arrow_down.svg');
  background-size: contain; /* Asegura que se escale al tamaño del contenedor */
  background-repeat: no-repeat; /* Evita que se repita */
  background-position: center;
  font-size: 1.2rem;
  color: var(--secondary-blue);
}
/*RECUERDA: Para finalizar realmente el header debes ajustar que el ícono del botón principal esté alineado con el texto (label)*/

/*Trabajando con nuestro main*/
main {
  width: 100%;
  height: auto;
  background-color: var(--white);
}
.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}
.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  margin: 0 auto;
}